@font-face {
  font-family: xkcd-regular;
  src: url(xkcd-Regular.otf);
}

body {
  text-align: center;
  font-size: 100%;
  font-family: xkcd-regular, Lucida, Helvetica, sans-serif;
  font-weight: 500;
  font-variant: small-caps;
  color: #000;

  position: absolute;
  left: 50%;
  width: 640px;
  margin-left: -320px;
}

#title {
  margin: 0.625rem;
  margin-bottom: 0;
  font-size: 1.3125rem;
  font-weight: 800;
}

#img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
}

#num {
  font-size: 0.75rem;
}

#alt {
  color: #888;
  font-size: 0.875rem;
  margin-left: 5%;
  margin-right: 5%;
}
